.tabel {

  box-shadow: 0px 5.26027px 19.726px rgba(4, 104, 143, 0.6);
  margin-right: auto;
  margin-left: auto;
  width: 550px;
}
.head {
  width: 33%;
}
.about {

  box-shadow: 0px 5.26027px 19.726px rgba(4, 104, 143, 0.6);
}